<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小张博客 | {{ title }}{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/blog-center.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
<div class="col-2 col-md-2 sidebar-offcanvas" id="sidebar">
    <div class="list-group has-bdb">
        <a href="/admin/" class="list-group-item" target="_blank">后台管理中心</a>
    </div>
    <div class="list-group-item list-group-title">内容
        <div class="list-group">
            <a href="{{ url_for('blog_center_blogmanage') }}" class="list-group-item active" target="">博客管理</a>


            <a href="https://mp.csdn.net/postlist" class="list-group-item active" data-title="article" target="">csdn文章管理</a>
         <a href="{{ url_for('comments_manage') }}" class="list-group-item active" target="">评论管理</a>

        </div>

    </div>
</div>
{% block main %}{% endblock %}
<script>


</script>

</body>
</html>